{% extends 'layout.html' %}
{% block title %}
    {{ artist.name }} - Symphony Sonar
{% endblock %}
{% block content %}
<div class="container mt-4">
    
    <div class="row mb-3 border rounded p-3">
        <div class="col-md-6">
            {% if artist.images %}
                <a href="{{ artist.external_urls.spotify }}" target="_blank">
                    <img class="artist-img img-fluid rounded-circle shadow-lg" src="{{ artist.images[0].url }}" alt="Artist Image">
                </a>
            {% endif %}
        </div>
        <div class="col-md-6 artist-info">
            <div class="text-center">
                <h1 class="display-3 mb-4">{{ artist.name }}</h1>
                <hr>
                <p>{{ artist.genres | join(", ") }}</p>
                <p>{{ artist.followers.total }} followers</p>
                <p>{{ artist.popularity }}<sup>th</sup> in popularity</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="h4">Top Tracks</h2>
            <ul class="list-unstyled">
                {% for track in top_tracks %}
                <li class="mb-3">
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            <a href="{{ track.external_urls.spotify }}" target="_blank">
                                <img src="{{ track.album.images[1].url }}" alt="Album Cover" class="rounded shadow" style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div>
                            <strong>{{ track.name }}</strong> by 
                            {{ track.artists | map(attribute='name') | join(", ") }}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6 artist-as">
            <h2 class="h4">Albums</h2>
            <ul class="list-unstyled">
                {% for album in albums %}
                <li class="mb-3">
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            <a href="{{ album.external_urls.spotify }}" target="_blank">
                                <img src="{{ album.images[1].url }}" alt="Album Cover" class="rounded shadow" style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div>
                            <strong>{{ album.name }}</strong><br>
                            Released: {{ album.release_date }}<br>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
