{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
    <h2 class="dashboard-top-txt">Welcome to Your Dashboard, {{ username }}!</h2>
<div class="container">


    <div class="row">
        
        <div class="col-md-5 top-songs-cnt box-main-1">
            <h3>Your Top 5 Songs:</h3>
            {% if top_songs %}
                <ul class="list-unstyled">
                    {% for song in top_songs %}
                        <li>
                            <div class="media">
                                <span class="rank">{{ song.rank }}.</span>
                                {% if song.cover %}
                                    <img src="{{ song.cover }}" alt="{{ song.name }}" style="height: 100px; width: 100px;"> 
                                {% endif %}
                                <div class="media-body">
                                    <h5 class="mt-0">{{ song.name }}</h5>
                                    {% for artist in song.artists %}
                                        <a href="{{ url_for('spotifyroutes.artist_page', artist_id=artist.id) }}">{{ artist.name }}</a>{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no top songs from Spotify to display, or your Spotify account is not linked.</p>
            {% endif %}
        </div>
        
        <div class="col-md-5 top-artist-cnt box-main-2">
            <h3>Your Top Artists:</h3>
            {% if top_artists %}
                <ul class="list-unstyled">
                    {% for artist in top_artists %}
                        <li>
                            <div class="media">
                                <span class="rank">{{ artist.rank }}.</span>
                                {% if artist.cover %}
                                    <img src="{{ artist.cover }}" alt="{{ artist.name }}" style="height: 100px; width: 100px;"> 
                                {% endif %}
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="{{ url_for('spotifyroutes.artist_page', artist_id=artist.id) }}">{{ artist.name }}</a></h5>
                                    <p>Genres: {{ artist.genre }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no top artists from Spotify to display, or your Spotify account is not linked.</p>
            {% endif %}
        </div>

        <div class="col-md-5 box-main-3">
            <h3>Recently Played Songs:</h3>
            {% if recently_played_songs %}
                <ul class="list-unstyled">
                    {% for song in recently_played_songs %}
                        <li class="media">
                            <a href="https://open.spotify.com/track/{{ song.id }}" target="_blank">  <!-- Added link to Spotify track -->
                                <img src="{{ song.album_image }}" class="mr-3" alt="Album cover" style="width:64px; height:64px;">
                            </a>
                            <div class="media-body">
                                <small>Played at: {{ song.played_at }}</small>
                                <h5 class="mt-0">{{ song.name }}</h5>
                                <p>{{ song.artist }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no recently played songs to display.</p>
            {% endif %}
        </div>
        

        <div class="col-md-5 box-main-4">
            <h1 style="text-align: center;">Thank you for using Symphony Sonar and making the music communtiy better!</h1>
        </div>
        
        <div class="container">
            <h3 class="mt-4">Your Posts:</h3>
            {% if user_posts %}
                <div class="row mt-4">
                {% for post in user_posts %}
                    {% if loop.index0 is divisibleby 4 and not loop.first %}
                        </div><div class="row mt-4">
                    {% endif %}
                    <div class="col-md-3 post-column">
                        <a href="{{ url_for('community.view_post', post_id=post.id) }}" class="text-decoration-none">
                            <div class="card mb-4 community-card glass-card-light">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.content | truncate(50) }}</p>
                                    <small class="text-muted">Posted on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <p class="text-muted">You have not created any posts yet.</p>
            {% endif %}
    

        
            <h3 class="mt-4">Posts You've Liked:</h3>
            {% if liked_posts %}
                <div class="row mt-4">
                {% for post in liked_posts %}
                    {% if loop.index0 is divisibleby 4 and not loop.first %}
                        </div><div class="row mt-4">
                    {% endif %}
                    <div class="col-md-3 post-column">
                        <a href="{{ url_for('community.view_post', post_id=post.id) }}" class="text-decoration-none">
                            <div class="card mb-4 glass-card-light">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.content | truncate(50) }}</p>
                                    <small class="text-muted">Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <p class="text-muted">You haven't liked any posts yet.</p>
            {% endif %}
        </div>
        
        
        
        
        
        
    </div>
</div>
        
        
    </div>

</div>
{% endblock %}