{% extends 'layout.html' %}

{% block title %}Listening Habits{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('profile.dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile.habits')}}">Habits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile.settings') }}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            <h2 class="top-txt">Here are your Listening Habits</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="box-main-1">
                        <h3>Your Top 5 Songs:</h3>
                        {% if top_songs %}
                            <ul class="list-unstyled">
                                {% for song in top_songs %}
                                    <li>
                                        <div class="media">
                                            <span class="rank">{{ song.rank }}.</span>
                                            {% if song.cover %}
                                                <img src="{{ song.cover }}" alt="{{ song.name }}" style="height: 100px; width: 100px;">
                                            {% endif %}
                                            <div class="media-body">
                                                <h5 class="mt-0">{{ song.name }}</h5>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>You have no top songs from Spotify to display, or your Spotify account is not linked.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box-main-2">
                        <h3>Your Top 5 Artists:</h3>
                        {% if top_artists %}
                            <ul class="list-unstyled">
                                {% for artist in top_artists %}
                                    <li>
                                        <div class="media">
                                            <span class="rank">{{ loop.index }}.</span> {# Add the rank number #}
                                            <div class="media-body">
                                                <h5 class="mt-0">{{ artist.artist }} ({{ artist.song_count }} different songs)</h5> {# Display the artist name and number of different songs #}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>You have no top artists from Spotify to display, or your Spotify account is not linked.</p>
                        {% endif %}
                    </div>
                </div>
             </div>
                

            <div class="row">
                <div class="col-md-6">
                    <div class="graph-glass">
                        <h3>Graph of Top Songs:</h3>
                        <canvas id="songsChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="graph-glass">
                        <h3>Graph of Top Artists:</h3>
                        <canvas id="genresChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    loadCharts();
});
function interpolateColor(color1, color2, factor) {
    if (arguments.length < 3) { 
        factor = 0.5;
    }
    var result = color1.slice();
    for (var i = 0; i < 3; i++) {
        result[i] = Math.round(result[i] + factor * (color2[i] - color1[i]));
    }
    return result;
};

function getGradientColors(startColor, endColor, count) {
    var colors = [];
    for (var i = 0; i < count; i++) {
        var factor = i / (count - 1);
        var color = interpolateColor(startColor, endColor, factor);
        colors.push(`rgba(${color[0]}, ${color[1]}, ${color[2]}, 0.6)`);
    }
    return colors;
}

function loadCharts() {
    fetch('/user-streams')
        .then(response => response.json())
        .then(data => {
            console.log('Data for charts:', data);
            if (data.songs && data.artists) {
                renderSongChart(data.songs);
                renderArtistChart(data.artists);
            }
        })
        .catch(error => {
            console.error('Error loading chart data:', error);
        });
}

function renderSongChart(songs) {
    var ctx = document.getElementById('songsChart').getContext('2d');
    
    var titles = songs.slice(0, 5).map(song => song.title);
    var frequencies = songs.slice(0, 5).map(song => song.frequency);
    
    var startColor = [184, 73, 250];
    var endColor = [59, 45, 142];
    var backgroundColors = getGradientColors(startColor, endColor, songs.length);
    
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: titles,
            datasets: [{
                label: 'Streams',
                data: frequencies,
                backgroundColor: backgroundColors,
                borderColor: backgroundColors.map(color => color.replace('0.6', '1')),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white',
                        callback: function(value) {
                            return value.toFixed(0);
                        }
                    }
                },
                x: {
                    ticks: {
                        color: 'white',
                        display: false
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
}

function renderArtistChart(artists) {
    var ctx = document.getElementById('genresChart').getContext('2d');
    var labels = artists.slice(0, 5).map(artist => artist.artist);
    var dataValues = artists.slice(0, 5).map(artist => artist.total_streams);
    
    var startColor = [184, 73, 250];
    var endColor = [59, 45, 142];
    var backgroundColors = getGradientColors(startColor, endColor, artists.length);

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Different Songs',
                data: dataValues,
                backgroundColor: backgroundColors,
                borderColor: backgroundColors.map(color => color.replace('0.6', '1')),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white',
                        callback: function(value) {
                            return value.toFixed(0);
                        }
                    }
                },
                x: {
                    ticks: {
                        color: 'white',
                        display: false
                    },
                    
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
}
</script>
{% endblock %}
