<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-color: black;">
<div class="container-fluid h-100  index-ani">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-auto anim-index-left">
            <img src="{{ url_for('static', filename='images/radar/left-s.png') }}" alt="" class="image image-left">
            <img src="{{ url_for('static', filename='images/radar/left-m.png') }}" alt="" class="image image-left">
            <img src="{{ url_for('static', filename='images/radar/left-l.png') }}" alt="" class="image image-left">
            <img src="{{ url_for('static', filename='images/radar/left-xl.png') }}" alt="" class="image image-left">
        </div>
        <div class="col-auto" id="final-text">
            <h1>Symphony Sonar</h1>
            <p>Dive into the Depths of music</p>
            <a href="/login" class="login-button">Login &rarr;</a>
        </div>
        <div class="col-auto anim-index-right">
            <img src="{{ url_for('static', filename='images/radar/right-xl.png') }}" alt="" class="image image-right">
            <img src="{{ url_for('static', filename='images/radar/right-l.png') }}" alt="" class="image image-right">
            <img src="{{ url_for('static', filename='images/radar/right-m.png') }}" alt="" class="image image-right">
            <img src="{{ url_for('static', filename='images/radar/right-s.png') }}" alt="" class="image image-right">
        </div>
    </div>
</div>

</body>
</html>
