{% extends 'layout.html' %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-6 offset-md-3 account-box-fncy">
    <h2 class="mb-3">Sign Up</h2>
    <form method="POST" action="{{ url_for('signup') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class_="form-control-label") }} {{
        form.username(class_="form-control", size=32) }} {% for error in
        form.username.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.email.label(class_="form-control-label") }} {{
        form.email(class_="form-control", size=32) }} {% for error in
        form.email.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label(class_="form-control-label") }} {{
        form.password(class_="form-control", size=32) }} {% for error in
        form.password.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">{{ form.submit(class_="btn btn-primary btn-grd") }}</div>
      <hr />
    </form>
    <p class="purple">Already a user? <a href="{{ url_for('login') }}">Login</a></p>

    <!-- Spotify Login Button -->
  

  </div>
</div>
{% endblock %}
