{% extends 'layout.html' %}
{% block title %}Terms and Conditions - Symphony Sonar{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Terms and Conditions</h1>
    <div class="card">
        <div class="card-body txt-black">
            <section class="mb-3">
                <h2 class="h4">1. Acceptance of Terms</h2>
                <p>
                    By accessing Symphony Sonar, you confirm your acceptance of these terms and conditions and agree to be legally bound by them. This agreement applies to all visitors, users, and others who access or use the Service. If you disagree with any part of the terms, then you may not access the Service.
                </p>
            </section>
            <hr>
            <section class="mb-3">
                <h2 class="h4">2. Legal Use of Spotify API</h2>
                <p>
                    Symphony Sonar integrates with the Spotify API strictly according to the <a href="https://developer.spotify.com/documentation/general/guidelines/terms-of-service/" target="_blank">Spotify API Terms of Service</a>. Our usage of the Spotify API adheres to all legal requirements imposed by Spotify, ensuring ethical handling of data and compliance with data use policy. Any unauthorized use of the Spotify API through our platform is strictly prohibited and may result in termination of your access to our services.
                </p>
            </section>
            <hr>
            <section class="mb-3">
                <h2 class="h4">3. Data Protection and Privacy</h2>
                <p>
                    We are committed to protecting your privacy and securing your personal data. We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Please refer to out for detailed information on our data handling practices.
                </p>
            </section>
            <hr>
            <section class="mb-3">
                <h2 class="h4">4. Limitation of Liability</h2>
                <p>
                    To the maximum extent permitted by applicable law, Symphony Sonar shall not be liable for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from (a) your access to or use of or inability to access or use the service; (b) any conduct or content of any third party on the services; or (c) unauthorized access, use or alteration of your transmissions or content.
                </p>
            </section>
            <hr>
            <section class="mb-3">
                <h2 class="h4">5. Amendments to Terms and Conditions</h2>
                <p>
                    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms.
                </p>
            </section>
            <hr>
            <section class="mb-3">
                <h2 class="h4">6. Governing Law</h2>
                <p>
                    These Terms shall be governed and construed in accordance with the laws of the jurisdiction of our business, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect.
                </p>
            </section>
        </div>
    </div>
</div>
{% endblock %}